{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
    <!-- <div class="sketchfab-embed-wrapper"> <iframe title="Model Inspector Demo (Press I)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="300" src="https://sketchfab.com/models/128d863ab5c8467f80939cabe8b3fc34/embed?autostart=1&preload=1&transparent=1&ui_infos=0&ui_inspector=0&ui_ar=0&ui_help=0&ui_settings=0&ui_vr=0&ui_fullscreen=0&ui_annotations=0"> </iframe> </div> -->
    <div class="container mt-5">
        <h1>Главная</h1>
        <p class="fs-2 text-muted">
            Использует сервер Heroku Сайт написан на Python с использованием Flask и базой данных на SQLite<!-- , если перейти по ссылке -Лиса-, то к первому серверу подключится второй сервер в Питере там находится Web апплет на HTML5 с технологией Web Assembler -->
        </p>
    </div>
{% endblock %}
